body {
    font-family: Avenir-Light; 
    font-size: 16px;
    color: black;
    line-height: 1.4;
    background-color: #ffedf6; 
}

h1, h2, h3 {
    color: rgba(215, 153, 255, .75);
}

h1{
    text-decoration: underline; 
}